body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
}

.formulaInput {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

span {
    color: #b00020;
}

button {
    width: 84px;
    height: 54px;
    border: 2px solid #018786;
    background-color: #FFFFFF;
    border-radius: 12px;
    transition-duration: 0.4s;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: #018786;
    color: #FFFFFF;
}

.header {
    text-align: center;
    font-size: 48px;
    background-color: #1f2937;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

#degRad {
    border-radius: 12px;
    background-color: #1f2937;
    color: #FFFFFF;
}

#degRad:hover {
    background-color: #018786;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 32px;
    /*background-color: #6200ee;*/
}

.output {
    width: 664px;
    height: 256px;
    font-size: 48px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

#formulaInput {
    width: 512px;
}

#variables {
    width: 1536px;
    height: 256px;
    /*
    border: 4px solid #018786;
    background-color: #03dac6;
    */
    border: 4px solid #000;
    background-color: #FFFFFF;
    padding-top: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
}

input {
    font-size: 24px;
    width: 256px;
    height: 48px;
    border: 2px solid #000;
}

.values {
    width: 474px;
    height: 54px;
    font-size: 36px;
    font-weight: bold;
    /*background-color: #018786;*/
    background-color: #1f2937;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 8px 8px 8px;
    padding: 8px;
}

#calculate {
    width: 512px;
}

.footer {
    height: 24px;
    background-color: #1f2937;
    color: #FFFFFF;
    padding: 16px;
}